<!DOCTYPE html>
<html>
   <body>
   
      <h3>deliverys - Flask SQLAlchemy example</h3>
      <hr/>
      
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}
      
      <form action = "{{ request.path }}" method = "post">
         <label for = "name">Name</label><br>
         <input type = "text" name = "name" placeholder = "Name" /><br>
         <label for = "email">item_name</label><br>
         <input type = "text" name = "item_name" placeholder = "item_name" /><br>
         <label for = "addr">addr</label><br>
         <textarea name = "addr" placeholder = "addr"></textarea><br>
         <label for = "PIN">item_name</label><br>
         <input type = "text" name = "quantity" placeholder = "quantity" /><br>
         <input type = "submit" value = "Submit" />
      </form>
      
   </body>
</html>